<tr>
  <td colspan="2">
    <div class="header-info">
      <div class="header-left">
        <p>{{header.name}}</p>
        <p>{{header.goalLife}}</p>
      </div>
      <div class="header-photo">
        <img src="{{header.photoUrl}}" alt="Foto" width="200" height="200">
      </div>
      <div class="header-right">
        <p>{{header.email}}</p>
        <p>{{header.phoneNumber}}</p>
        <p>{{header.location}}</p>
        <p>{{header.socialNetwork}}</p>
      </div>
    </div>
  </td>
</tr>
