/* Centra todo el contenido dentro de la celda */

.header-content {
  display: flex; /* Usamos flexbox para alinearlos en una fila */
  justify-content: space-between; /* Distribuye el espacio entre los bloques */
  align-items: center; /* Centra verticalmente los bloques dentro de la fila */
  width: 100%;
  box-sizing: border-box; /* Asegura que los padding no afecten el tamaño */
  padding: 20px;
}

/* Estilo para el bloque izquierdo */
.header-content .left {
  flex: 1; /* Se expande para llenar el espacio */
  padding: 10px;
}

/* Estilo para el bloque central */
.header-content .center {
  text-align: center; /* Centra el contenido del bloque */
  padding: 10px;
  flex: 0 0 auto; /* No se expande, se ajusta al contenido */
}

/* Estilo para el bloque derecho */
.header-content .right {
  flex: 1; /* Se expande para llenar el espacio */
  padding: 10px;
}

/* Asegura que la imagen se ajuste correctamente */
.header-content img {
  max-width: 100%; /* La imagen no se desbordará del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo para el texto dentro de los p */
.header-content p {
  margin: 5px 0; /* Añade un pequeño margen entre los párrafos */
}

/* Asegura que la tabla tenga el estilo correcto */
.tabla td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
  word-wrap: break-word;
}
