<ul *ngFor="let lang of languages" class="language-list">
        <li class="language-item">
          <div class="language-title">
            <b>Lenguaje:</b>
          </div>
          <div class="language-detail">
            <span class="label">Origin language:</span>
            <span class="value">{{ lang.originLanguage }}</span>
          </div>
          <div class="language-detail">
            <span class="label">Foreign language:</span>
            <span class="value">{{ lang.exLanguage }}</span>
          </div>
        </li>
      </ul>
      